:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #fff;
    --bg-dark: #2F303A;
    --bg-bright: #F5F4FA;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto;
}
ul {
    list-style: none;
}

/* Шапка */
.logo {
    color: #000;
}
.logo-accent {
    color: var(--accent-color);
}

/* Стилизация навигации */
.site-nav a {
    color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.contact-nav a {
    color: var(--primary-text-color);
}
.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* Герой */
.hero-bg {
    background-color: var(--bg-dark);
}
.hero-title {
    color: var(--primary-bg-color);
}

/* Кнопка */
.button {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button:hover {
    background-color: var(--accent-color);
}

/* Секция */

.section-title {
    color: var(--title-text-color);
}

/* Особенности */
.visually-hidden {
    position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.feature-list .title {
    color: var(--title-text-color);
}


/* Чем мы занимаемся */

/* Команда */
.section-bg {
    background-color: var(--bg-bright);
}
.section-name {
    color: var(--title-text-color);
}

/* Футер */
.fotter-bg {
    background-color: var(--bg-dark);
}
.fotter-logo {
    color: var(--primary-bg-color);
}
.fotter-address {
    color: var(--primary-bg-color);
}
.fotter-contact a {
    color: rgba(255, 255, 255, 0.6);
}

/* Стили для portfolio.html */
/* Секция кнопок */
.button-second {
    background-color: var(--bg-bright);
    color: var(--title-text-color);
    cursor: pointer;
}
.button-second:hover,
.button-second:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    cursor: pointer;
}